@keyframes backforth {
	$mip: 5px;
	$map: 120px;
	0% {
		left: $mip;
	} 25% {
		left: $map;
	} 50% {
		left: $mip;
	} 75% {
		left: $map;
	} 100% {
		left: $mip;
	}
} body{
	background-color: rgb(0, 150, 0);
	overflow-y: scroll;
	overflow-x: scroll;
} .prj {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 10px;
	color: darkgoldenrod;
} .sphere {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: rgb(0, 255, 0);
	position: relative;
	padding: 0px 0px;
	animation-timing-function: linear;
	animation: backforth 2s infinite;
} .defualtText {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 70, 0);
}a{
	$color: rgb(0, 126, 19);
	&:link {
		color: $color;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	} &:visited {
		color: $color;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	} &:hover {
		font-family: Arial, Helvetica, sans-serif;
		color: rgb(0, 190, 190);
	}
}.bar{
	width: 135px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba(95, 211, 0, 0.486);
	padding: 5px 0px;
}.bg{
	background-color: rgb(21, 255, 0);
	border-radius: 5px;
	padding: 5px 10px;
	width: 140px;
}